@charset "utf-8";
/* CSS Document */
* {margin: 0; padding: 0;}
.container {width:1000px; height:1217px ; margin:auto;}
.top {width:1000px; height:127px ;}
.menu {width:1000px; height:60px ; background-color:#960;}
.menu ul {list-style:none;}
.menu ul li {display: inline-block; width:111px; height:60px; line-height:60px; padding: 0px 45px; }
.menu ul li:first-child { margin-left: 35px; }
.menu ul li a {text-decoration:none;text-transform:uppercase; font-size: 18px; font-weight:bold; color: #fff;}
.menu ul li:hover {color: #000; background-color:#666;}
.cacdanhmuc {width:960px; height:50px; margin: 20px; ; background-color:#CCC; display:flex;}
.cacdanhmuc input { height: 38px; width: 100%; margin: auto; outline: none; }
.content {width:1000px; height:850px ; background-color:#cea2a2;}
.left {width:225px; height:850px ; float:left; background-color:#999}
.leftMenu {width:225px;}
.leftMenu ul {list-style: none; margin-top:10px}
.leftMenu ul li:hover {background-color: #930; color: #090;}
.leftMenu ul li {height: 37px; width: 205px; background-color: #672e2e; margin: 0 10px; text-align: center; line-height: 37px; border-bottom: 1px solid #000;}
.leftMenu ul li a{text-decoration: none; color: #fff;}
.mid {width:624px ;height: 850px; float:left;}
.right {width:151px; height:850px ;float:left;}
.clr {clear:both ;}
.fotter {width:1000px; height:130px ;}
.fotter_menu {width:1000px; height:30px ; background-color:#bd4c4c; text-align:center; line-height:30px}
.fotter_menu a {text-decoration:none ;color: #fff;}
.footer_content {width:1000px; height:100px ; background-color:#999}
.hangcaphe {margin: auto; margin-top: 10px;}
.hangcaphe tr td {width: 30%; text-align: center;}